---
/** Botón 8-bit fijo para volver al título de la entrada. Solo en blog. */
---

<a
  href="#entrada"
  class="pixel-btn-top"
  aria-label="Volver al título de la entrada"
  title="Arriba"
>
  <img src="/vectors/blog/arrow-up-8bit.svg" alt="" width="24" height="24" />
</a>
